doc/build/
env
.cask/*
Cask.tmp
index_error.py
redirecting_server.py
wiener_filtering.py
UTF-8-demo.txt
.gitmodules
*.stackdump
*.elc
*.el#
lisp/.#ein-notebook.el
*.el~
lisp/ein-autoloads.el
tests/func-test-batch-log.log
tests/test-batch-log.log
*.py~
*.org~
lisp/test-batch-log.log
*.pyc
test-batch-log.log
*.ipynb~
Makefile~
.ipynb_checkpoints
.ipynb_checkpoints/*
*.png
