doc/build/
env
log
*.stackdump
*.elc
*.el#
lisp/.#ein-notebook.el
*.el~
lisp/ein-autoloads.el
tests/func-test-batch-log.log
tests/test-batch-log.log
*.py~
*.org~
lisp/test-batch-log.log
*.pyc
test-batch-log.log
*.ipynb~
Makefile~
.ipynb_checkpoints
.ipynb_checkpoints/*
