doc/build/
env
.cask/*
Cask.tmp
index_error.py
redirecting_server.py
wiener_filtering.py
UTF-8-demo.txt
.gitmodules
*.stackdump
*.elc
*.el#
*.el~
lisp/ein-autoloads.el
*.py~
*.org~
*.pyc
*.ipynb~
Makefile~
*.ipynb_checkpoints*
*.png
tests/notebook
*.log
log/*
_images
_static
.travis.yml.swp
*.zip
.gitattributes
.ecukes-temp*
