sudo: false
language: nix

addons:
  apt:
    packages:
    - gnutls-bin
    - sharutils
    - nodejs
    - gfortran
    - python-minimal
    - python-setuptools
    - python-pip
    - python3-minimal
    - python3-pip
    - python3-setuptools
    - gnupg2
    - dirmngr

cache:
  directories:
  - $HOME/nix.store
  - $HOME/local
  - $HOME/.cask
  - $HOME/node_modules
  - $HOME/.cache/pip
  - $HOME/.evm
  - $HOME/.emacs.d
  - $HOME/Library/Caches/Homebrew
  - $HOME/.pyenv
  - $HOME/Library/Caches/pip

env:
  global:
    - PATH=$HOME/local/bin:$HOME/local/evm/bin:$HOME/local/cask/bin:$HOME/local/R/bin:$HOME/local/julia-1.1.0/bin:$PATH

matrix:
  include:
    - os: linux
      env: EMACS_CI=emacs-25-2 IPYTHON=5.8.0 PY=python PIP="${PY} -m pip install --user"
    - os: linux
      env: EMACS_CI=emacs-26-3 IPYTHON=7.9.0 PY=python3 PIP="${PY} -m pip install --user"
    - os: osx
      env: EMACS_CI=emacs-25-2 IPYTHON=5.8.0 PY=python PIP="pip install" TOXENV=py27

  allow_failures:
    - env: EMACS_CI=emacs-snapshot

install:
  - sh tools/install-virtualenv.sh
  - |
    if [ "x$TRAVIS_OS_NAME" = "xosx" ]; then
      eval "$(pyenv init -)" ;
      pyenv activate $TOXENV ;
    fi
  - ${PIP} --upgrade pip
  - ${PIP} wheel jupyter ipython\<=$IPYTHON ipykernel
  - ${PY} -m ipykernel install --user
  - sh tools/install-R.sh
  - sh tools/install-julia.sh
  - hash -r
  - jupyter kernelspec list
  - curl --version
  - ipython --version

before_script:
  - bash <(curl https://raw.githubusercontent.com/purcell/nix-emacs-ci/master/travis-install)
  - emacs --version
  - sh tools/install-cask.sh
  - curl -sLk -O https://github.com/dickmao/kubernetes-el/archive/master.zip && unzip master.zip
  - ( cd ./kubernetes-el-master ; cask pkg-file )
  - cask link kubernetes ./kubernetes-el-master
  - cask link list

script:
  - make test-install
  - |
    if [[ "x$TRAVIS_PYTHON_VERSION" == x3* ]]; then
      ${PIP} jupyterhub ;
      sudo /usr/bin/npm install -g configurable-http-proxy ;
      ${PIP} jupyterhub-dummyauthenticator ;
      make test-jupyterhub
    fi
  - rm -rf $HOME/.matplotlib $HOME/.cache/fontconfig
  - make test