language: emacs-lisp
before_install:
  - git submodule --quiet update --init
  - sudo apt-get install -qq python-virtualenv
  - if [ "$EMACS" = 'emacs-snapshot' ]; then
      sudo add-apt-repository -y ppa:cassou/emacs &&
      sudo apt-get update -qq &&
      sudo apt-get install -qq
          emacs-snapshot-el emacs-snapshot-gtk emacs-snapshot;
    fi
env:
  - IPY_VERSION=0.13.0 EMACS=emacs
  - IPY_VERSION=0.12.1 EMACS=emacs
  - IPY_VERSION=0.12.0 EMACS=emacs
  - IPY_VERSION=0.13.0 EMACS=emacs-snapshot
  - IPY_VERSION=0.12.1 EMACS=emacs-snapshot
  - IPY_VERSION=0.12.0 EMACS=emacs-snapshot
script:
  make travis-ci EMACS=$EMACS IPY_VERSION=$IPY_VERSION
